<table border="2" align="center">
  <thead> Details of Published API</thead>
  <tr>
   <td>{{_publish_option}}</td>
  </tr>
  <tr>
  <td>{{_basicname}}</td>
</tr>
  <tr>
    <td>{{_Displayname}}</td>
  </tr>
  <tr>
    <td>{{_Application_name}}</td>
  </tr>
  <tr>
    <td>{{_backend_url}}</td>
  </tr>
  <tr>
    <td>{{_Basicpath}}</td>
  </tr>
  <tr>
    <td>{{_Basicdescription}}</td>
  </tr>
  <tr>
    <td>{{_bussiness_domain}}</td>
  </tr>
  <tr>
    <td>{{_changesapp}}</td>
  </tr>
  <tr>
    <td>{{_definition_upload}}</td>
  </tr>
  <tr>
    <td>{{_no_of_minutes}}</td>
  </tr>
  <tr>
    <td>{{_no_of_requests}}</td>
  </tr>
  <tr>
    <td>{{_product_desp}}</td>
  </tr>
  <tr>
    <td>{{_product_name}}</td>
  </tr>



</table>

