<!--<style>

  div {
    text-align:center;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
</style> -->



<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

</head>


<div style="float:top; height:18%;margin: 1%">

  <img src="/assets/new-skoda-logo.jpg"  alt="SKODA" style="width: 15%;height: auto;" >
  <h3>Publish Your API</h3>

</div>





<form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >

  <div style="height:100vh" >
    <div style="float:left; width: 68%; height:100%;">


      <div style="float:top; height:15%;  background-color:lightgray;margin: 2%; ">

        <div style="padding-left: 2%; padding-top: 2%;">
          <h4>1.Where to publish?</h4>

          Azure <input id='azure'  type="radio"  formControlName="publish_option" value="Azure"  [ngClass]="{ 'is-invalid': submitted && registerForm.controls.publish_option.errors }"  />
          On-premise &nbsp;  <input id="premise" type="radio"  formControlName="publish_option"  value="On-Premise"  [ngClass]="{ 'is-invalid': submitted && registerForm.controls.publish_option.errors }"/>

        </div>
      </div>
      <div style="height:50%;padding-left: 2%; padding-top: 2%;background-color:lightgray;margin: 2%">
        <table width="100%" cellpadding="2"  >
          <thead> <b> 2. Basic Information </b></thead>

          <tr>
            <td>
              Name
            </td>
            <td>Display name
            </td>
          </tr>
          <tr>
            <td>
              <input type ="text"  id="basicname" formControlName="basicname"  [ngClass]="{ 'is-invalid': submitted && registerForm.controls.basicname.errors }">

            </td>


            <td>
              <input type ="text" formControlName="Displayname" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.Displayname.errors }" >
            </td>
          </tr>

          <tr>
            <td colspan="2">
              Description
            </td>
          </tr>
          <tr>
            <td colspan="2">

              <input type ="textbox" formControlName="Basicdescription" style="height:100px;width:1020px;" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.Basicdescription.errors }">
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>Path
            </td>
          </tr>
          <tr>
            <td>
              <select id="business" style="width:420px; height: 25px;" formControlName="bussiness_domain" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.bussiness_domain.errors }" >
                <option value="" >Choose from options</option>

                <option value="First">First</option>
                <option value="second">Second</option>
              </select>
            </td>
            <td>
              <input type ="textbox" formControlName="Basicpath" size="40%;" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.Basicpath.errors }">
            </td>
          </tr>
          <tr>
            <td>
              Application
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type ="textbox" formControlName="Application_name" size="40%" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.Application_name.errors }">
            </td>
            <td>
              Major change(bumps the version)<input type ="radio" value="major changes" formControlName="changesapp" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.changesapp.errors }">

            </td>
          </tr>

          <tr>
            <td colspan="2">
              Upload definition(swagger,open api,wsdl)
            </td>
          </tr>
          <tr>
            <td colspan="2">

              <input type ="textbox" formControlName="definition_upload" style="width:1020px;" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.definition_upload.errors }">
            </td>
          </tr>

          <tr>
            <td colspan="2">
              Backend url
            </td>
          </tr>
          <tr>
            <td colspan="2">

              <input type ="textbox" id="url" formControlName="backend_url" style="width:1020px;" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.backend_url.errors }"  >
            </td>
          </tr>

        </table>
      </div>

      <div style="float:bottom; height:35%;padding-left: 2%; padding-top: 1%;background-color:lightgray;margin: 2%">
        <table cellpadding="2">
          <thead> <b>3. Products </b></thead>
          <tr>
            <td>
              Name
            </td>
          </tr>
          <tr>
            <td>
              <input type ="text" formControlName="product_name" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.product_name.errors }" >
            </td>

          </tr>

          <tr>
            <td colspan="2">
              Description
            </td>
          </tr>
          <tr>
            <td colspan="2">

              <input type ="textbox" name="product_desp"  style="height:100px;width:1020px;" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.product_desp.errors }" >
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h5>Rate Limiting</h5>
            </td>
          </tr>
          <tr>
            <td>
              No. of requests
            </td>
            in no. of minutes
            <td>
          </tr>
          <tr>
            <td>
              <input type ="textbox" formControlName="no_of_requests" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.no_of_requests.errors }">
            </td>
            <td>
              <input type ="textbox" formControlName="no_of_minutes" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.no_of_minutes.errors }" >
            </td>
          </tr>
        </table>

      </div>
    </div>
    <div style="float:right;width: 30%;background-color:lightgray;margin: 1%;align-items: center; height:104%; justify-content: center;">
      <h4 style="float: bottom;text-align: center;"> help-explaination of the form functionality</h4>
    </div>
  </div>
  <br><br><br><br>
  <hr>
  <div style="height:30%;padding-left: 1%; padding-top: 1%;margin: 2%">
    <h2><b>4. Additional Information</b></h2>
  </div>

  <div style="float:bottom; height:20%;padding-left: 2%; padding-top: 1%;background-color:white;margin: 2%">
    <button  id="publish"  type="submit">Publish</button>



  </div>

</form>

